nav {
  background-color: rgb(218, 223, 209);
  font-weight: bold;
}

/* header  */

.h > h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.h > div {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  color: rgb(105, 103, 103);
  margin-bottom: 60px;
}
.h span {
  background-color: black;
  padding: 0px 5px 0px 5px;
  color: white;
}

/* article  */

article {
  position: relative;
  width: 40%;
  padding-right: 20px;
  margin-left: 20%;
  float: left;
}

.head,
.entry {
  position: relative;
  width: 100%;
  box-shadow: 10px 10px 10px rgb(199, 195, 195);
  margin: 30px 20px 20px 10px;
}

article img {
  width: 100%;
  height: 300px;
}

.head > .th,
.entry > .th {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0px 20px 0px;
}

.head > .td,
.entry > .td {
  font-family: sans-serif;
  color: rgb(61, 58, 58);
  margin-bottom: 30px;
}
.td > span {
  color: rgb(177, 124, 124);
  font-size: small;
}

.info {
  font-size: small;
  font-family: sans-serif;
  color: rgb(61, 58, 58);
  margin-bottom: 20px;
}
.foot1 {
  padding-bottom: 20px;
  padding-left: 20px;
}
.foot1 > a {
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
.foot1 > a:hover {
  background-color: rgb(201, 193, 193);
}

.co {
  position: absolute;
  right: 20px;
}
.co > span {
  background-color: black;
  margin-left: 5px;
  padding: 3px;
  color: white;
}

/* aside  */

aside {
  float: left;
  width: 20%;
  height: auto;
  margin-top: 30px;
  margin-left: 10px;
}

.img > img {
  width: 100%;
  height: 400px;
}
.name {
  margin-top: 10px;
  margin-left: 10px;
  font-family: sans-serif;
}
.info {
  margin-top: 10px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(92, 90, 90);
  padding: 10px;
}
section.na {
  box-shadow: 5px 5px 10px rgb(192, 188, 188);
}

section.post {
  box-shadow: 5px 5px 10px rgb(192, 188, 188);
}

.post > h3 {
  background-color: rgb(229, 226, 226);
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.d1 > img {
  width: 50px;
  margin-left: 10px;
  margin-right: 20px;
  overflow: hidden;
}

.d1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d1 > span {
  display: inline;
  position: absolute;
  font-family: monospace;
}
.d1:hover {
  background-color: rgb(216, 205, 205);
  cursor: pointer;
}

section.tags {
  box-shadow: 5px 5px 10px rgb(192, 188, 188);
  line-height: 30px;
  padding: 10px;
}
.tags > h3 {
  background-color: rgb(229, 226, 226);
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.d9 {
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 4px;
}
.d8 {
  background-color: rgb(231, 229, 231);
  padding: 3px;
}

footer {
  clear: both;
  background-color: gray;
  text-align: center;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.3em;
}

/* responsive  */

@media screen and (max-width: 720px) {
  aside {
    clear: both;
    width: 100%;
    margin: 0;
  }
  article {
    width: 70%;
    right: 5%;
  }
  .na {
    width: 50%;
    margin: auto;
  }
  .post {
    width: 80%;
    margin: auto;
  }
  .tags {
    width: 98%;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  article {
    width: 90%;
    margin-left: 40px;
  }
  .na {
    width: 70%;
    margin: auto;
  }
  .post {
    width: 80%;
    margin: auto;
  }
  .tags {
    width: 98%;
    margin: auto;
  }
}

.slide {
  width: 80%;
  margin: auto;
  height: auto;
}
.contact {
  width: 40%;
  margin: auto;
  position: relative;
  left: 10%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
}
.contact > h1 {
  margin-top: 50px;
  font-size: 2em;
}

.road {
  margin-top: 70px;
  width: 100%;
  min-width: 70%;
}

.contact span {
  margin-left: 20px;
  position: relative;
}
.email,
.phone,
.city {
  padding: 10px;
  font-size: 1.3em;
}
.contact {
  float: left;
}
#contact2 > h1 {
  margin-top: 30px;
  font-size: 3em;
  text-align: center;
  color: rgb(16, 14, 13);
  margin-bottom: 10px;
}
.cc {
  margin-top: 10px;
}

form {
  width: 70%;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 1.2vw;
  margin-bottom: 100px;
}
#t1 {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}
.sb {
  width: 100%;
  background-color: rgb(27, 23, 22);
  border: 0;
  color: white;
  padding: 15px;
  font-size: 1.2vw;
  cursor: pointer;
}
.sb:hover {
  background-color: thistle;
  color: black;
}
#contact2 {
  float: left;
  width: 60%;
  margin-left: 100px;
  padding-left: 200px;
}
#contact2 > h1 {
  margin-top: 90px;
  position: relative;
  left: 200px;
}
.contact3 {
  position: relative;
  width: 30%;
  float: left;
  top: 200px;
}
.contact3 img {
  width: 60px;
}
